.d-none{
    display: none;
  }
  
  .d-block{
    display: block;
  }
  
  /*Margin*/
  .mb-xsmall{
    margin-bottom: .5rem;
  }
  .mb-small{
    margin-bottom: 1rem;
  }
  .mb-medium{
    margin-bottom: 2rem;
  }
  .mb-large{
    margin-bottom: 5rem;
  }
  
  .mt-xsmll{
    margin-top: .5rem;
  }
  
  .mt-small{
    margin-top: 1rem;
  }
  .mt-medium{
    margin-top: 2.5rem;
  }
  .mt-large{
    margin-top: 5rem;
  }
  
  .mt-extra{
    margin-top: 10rem;
  }
  
  .mr-small{
    margin-right: .6rem;
  }
  
  /*font-size*/
  .f-size-s{
    font-size: .8rem;
  }
  .f-size-m{
    font-size: 1rem;
  }
  
  .f-size-mm{
    font-size: 1.5rem;
  }
  .f-size-l{
    font-size: 2.5rem;
  }
  
  .f-w900{
    font-weight: 900;
  }
  
  /*border*/
  .border-n{
    border: none;
  }
  
  /*Align*/
  .txt-c{
    text-align: center;
  }
  
  /*width*/
  
  .w-10{
    width: 10%;
  }
  
  .w-20{
    width: 20%;
  }
  
  .w-30{
    width: 30%;
  }
  
  .w-40{
    width: 40%;
  }
  
  .w-50{
    width: 50%;
  }
  
  .w-60{
    width: 60%;
  }
  
  .w-70{
    width: 70%;
  }
  
  .w-80{
    width: 80%;
  }
  
  .w-90{
    width: 90%;
  }
  
  .w-100{
    width: 100%;
  }

  .divider{
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
  }
