  <div class="left bg-primary text-white">
    <div class="sidemenu p-4">
      <div class="sidemenu_header text-center mt-2">Menu</div>

      <nav class="nav">
        <ul>
          <li class="nav_item" [routerLink]="['/']">Home</li>
          <li class="nav_item" [routerLink]="['artist']">Pesquisar artistas</li>
          <li class="nav_item" [routerLink]="['album']">Pesquisar álbums</li>
          <li class="nav_item" [routerLink]="['history']">Histórico</li>
        </ul>
      </nav>
    </div>
  </div>
