/*Helpers*/
@import "./settings/variables";
@import "./settings/utilities";

/*Generic*/
@import "./generic/resets";

/*Base*/
@import "./base/basics";

// /*Components*/
@import "./components/grid";
@import "./components/form";
@import "./components/modal";


@import url("https://use.typekit.net/cwu2wpc.css");

@font-face {
  font-family: 'Myriad-pro';
  src: url("https://use.typekit.net/cwu2wpc.css");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Foco';
}
